Source: ros-dashing-gazebo-dev
Section: misc
Priority: optional
Maintainer: Jose Luis Rivero <jrivero@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-dashing-ament-cmake, ros-dashing-ros-workspace
Homepage: http://gazebosim.org/tutorials?cat=connect_ros
Standards-Version: 3.9.2

Package: ros-dashing-gazebo-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gazebo9, libgazebo9-dev, ros-dashing-ros-workspace
Description: Provides a cmake config for the default version of Gazebo for the ROS distribution.
